# Copie este arquivo para ".env" e cole as duas chaves do seu projeto Supabase.
# Supabase > Project Settings > API
VITE_SUPABASE_URL=https://fabbztyoupkusplwqtpt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhYmJ6dHlvdXBrdXNwbHdxdHB0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2OTYxMTgsImV4cCI6MjA5OTI3MjExOH0.HQhmqmVjPA4WQ0WbhkZYz3r1I7fdCe9JD8A1ptsG4kQ
